*, html {
    margin: 0px;
    padding: 0px;
}
body {
    overflow: hidden;
    font-family: 'Orbitron', 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
    cursor: url(cursor.png), auto;
    background: slategray;
}
.contact-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 100px black;
}
.contact {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background:
        radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
        radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
        radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
        radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
        radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
        radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
        radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
        radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
        linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
        linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
    background-color: #300; 
    background-size: 90px 90px;
}
.contact h2 {
    margin: 0px auto;
    width: 40%;
}
canvas {
    background: rgba(0,0,0,1);                
}
form h2 {
    text-align: center;
    color: rgba(0,175,0);
    background: black;
    clip-path: polygon(0 0, 97% 0, 89% 100%, 9% 100%);
}

.form-group {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
label {
    background: black;
    min-width: 200px;
    clip-path: polygon(0 0, 50% 0, 60% 100%, 0 100%);
    color: rgba(0,220,0);
    margin-top: 40px;
    transform: translate(0px,3px);
}
label p {
    height: 5%;

}
input#name, textarea {
    line-height: 40px;
    width: 90%;
    font-family: 'Roboto';
    background: black;
    border: none;
    color: rgba(0,255,0);
    outline: none;
    outline-width: none;
    border-radius: 5px;
    font-size: 1.5em;
}
input[type=text] {
    outline: none;
}
input:invalid {
    border:none;
}
input[type=text]:active {
    outline: none;
}
textarea {
    resize: none;    
    overflow: hidden;
}
.pills {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    font-size: 1.5em;
}
.red-pill, .blue-pill {
    text-align: center;
    height: 75px;
    width: 200px;
    border-radius: 50px;
    transition: 1s;
    cursor: pointer;
}
.red-pill p, .blue-pill p {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0);
    font-smoothing: antialiased !important;
    margin: 20px;
    transition: .5s;
}
.red-pill {
    color: black;
    background: linear-gradient(#730516, #fb0000, #730516);
    border-top: 1px outset rgba(255,0,0,0.5);    
    border-bottom: 1px outset rgba(0,0,0,0.3);    
    box-shadow: inset 5px 6px 9px rgba(255,50,50,1);
}
.blue-pill {
    color: white;
    background: linear-gradient(#000b73, #0018ff, #000b73);
    border-top: 1px outset rgba(200,200,255,0.5);   
    border-bottom: 1px outset rgba(0,0,0,0.3);    
    box-shadow: inset -5px 10px 15px rgba(50,50,255,1);
}
::-webkit-input-placeholder {
    color: green;
}
.red-pill:hover {
    transform: scale(1.3);
    box-shadow: inset 0px 3px 5px rgba(255,50,50,1);
}
.red-pill:hover p, .blue-pill:hover p {
    opacity: 0;
}
.blue-pill:hover {
    transform: scale(1.3);
    box-shadow: inset 0px 5px 5px rgba(50,50,255,1);
}
a {
    text-decoration: none;
}
.blur {
    transition: 5s;
    cursor: none;
    filter: blur(50px);
}
