:root {
    --cube-size: 1.5;
    --cube-width: calc(var(--cube-size) * 100px);
    --cube-height: calc(var(--cube-size) * 100px);
    --cube-perspective: calc(var(--cube-width) * 2);
    --cube-translate: calc(var(--cube-size) * 50px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Orbitron", sans-serif;
    font-size: 2em;
    color: #7EEEE4;
    /* cursor: url(images/cursor.png), auto; */
}

/* DOOR */
/*.left {
    background: url(images/wall.jpg);
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    transition: 2s;
}

.right {
    background: url(images/wall.jpg);
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    transition: 2s;
}

.open-left {
    animation-delay: 2s;
    transform: translateX(-100%);
}

.open-right {
    animation-delay: 2s;
    transform: translateX(100%);
}

@keyframes open-left {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);} 
}

@keyframes open-right {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

.lock {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, red, red, #59000d);
    width: 150px;
    height: 150px;
    z-index: 20;
    border-radius: 50%;
    text-align: center;
    transition: 1.5s;
    border: 1px solid black;
}

.lock:hover {
    transform: translate(-50%, -50%) scale(1.2);
}
.unlock {
    cursor: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 21;
    transition: .5s;
}
.lock:after {
    content: 'ENTER';
    position: absolute;
    top: 50px;
    left: 11px;
    z-index: 24;
    color: white;
    text-shadow: 2px 2px black;
}
.unlock:after {
    content: 'HELLO';
    position: absolute;
    top: 50px;
    left: 11px;
    z-index: 25;
    color: black;
    text-shadow: 1px 1px white;
}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.ring1 {
    position: absolute;
    top: -25px;
    left: -25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 23;
    border: 15px dashed rgba(225,0,0);
    animation: rotate 7s infinite linear;
}
.ring2 {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 22;
    border: 15px dashed rgba(200,0,0);
    animation: rotate 9s infinite linear;
}
.ring3 {
    position: absolute;
    top: -75px;
    left: -75px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 21;
    border: 15px dashed rgba(175,0,0);
    animation: rotate 15s infinite linear;
}
.green1 {
    transition: 1.5s;
    position: absolute;
    top: -25px;
    left: -25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 23;
    border: 15px solid green;
    background: radial-gradient(circle, rgba(0,155,0,0.8), rgba(0,155,0,0.8), black);
}
.green2 {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 22;
    border: 15px solid green;
    transition: 1.5s;
    background: rgba(0,255,0,0.7);
}
.green3 {
    position: absolute;
    top: -75px;
    left: -75px;
    border: 15px solid black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 21;
    border: 15px solid green;
    transition: 2s;
    background: rgba(0,255,0,1);
}
.hidden {
    opacity: .0;
    transition: .5s;
}
.remove {
    display: none;
} */

/* DOOR */

/* MAIN */
.bg-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.intro {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
}

.main-container {
    width: 100%;
    height: 100vh;
    background: gray;
    display: grid;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    position: absolute;
    z-index: 10;
}

.bio {
    grid-column: 2 / 5;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background: rgba(0,0,0,0.7);
    border-radius: 2%;
    margin: 56px;
    border: 2px solid #7EEEE4;
    cursor: not-allowed;
}

.bio h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 3em;
    color: #75efef;
    letter-spacing: 20px;
    font-family: "Montserrat"
}

.bio h1:after {
    content: "";
    animation: blinking-cursor .8s infinite;
}

@keyframes blinking-cursor {
    0% {
        border-right: 25px solid transparent;
    }

    100% {
        
        border-right: 25px solid #75efef; 
    }
}

.bio p {
    width: 95%;
    text-shadow: 2px 2px black;
}

.meta {
    grid-column:  1 / 2;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;            
    align-items: center;
    margin: 15%;
    margin-right: 0;
    text-align: center;
}

.frame {
    background: rgba(0,0,0,0.5);
    border: 1px solid #7EEEE4;
    border-radius: 5px;
    box-shadow: 0 0 10px cyan inset;
}

#date, #time, #day {
    width: 300px;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #75efef 50%);
    background-size: 220%;
    transition: .5s;
    cursor: pointer;
    padding: 10px;
}

#date:hover, #time:hover, #day:hover {
    color: black;
    background-position: 100%;
}

.barcode-container {
    grid-column: 5 / 6;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.sphere {
    height: 200px;
    width: 200px;
    background: radial-gradient(circle, #20c7dc 60%, #7EEEE4 75%);                      
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset -7px 37px 50px -14px black    
}
.sphere p {
    width: 100%;
    text-align: center;
    font-size: smaller;
    color: #7EEEE4;
    text-shadow: 2px 2px gray;
    transform: skew(5px);
}
.nav {
    grid-column: 1 / 6;
    grid-row: 5 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.bar {
    width: 10%;
    height: 80%;            
    background: linear-gradient(to bottom,
        rgba(0,255,0,1) 0%,
        rgba(170,221,42,1) 40%,
        rgba(229,152,36,1) 88%,
        rgba(255,0,0,1) 100%);
    border: 2px solid black;
}
.nav .sphere:nth-child(1) {
    animation: heartbeat 1.5s ease-in-out alternate infinite, glow 1.5s ease-in-out alternate infinite;
}
.nav .sphere:nth-child(2) {            
    animation: heartbeat 1s ease-in-out alternate infinite, glow 1.5s ease-in-out alternate infinite;        
}
.nav .sphere:nth-child(3) {
    animation: heartbeat 1.2s ease-in-out alternate infinite, glow 1.5s ease-in-out alternate infinite;
    cursor: not-allowed;
}
@keyframes heartbeat {
    0% { 
        transform: translateY(0px);
    }
    100% {
        transform: translateY(8px);
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 50px #7EEEE4;
    }
    100% {
        box-shadow: 0 0 75px #7EEEE4;
    }
}

/* TESSERACT */
.checkbox {
    display: none;
}

.stone {
    height: calc(25px * 4);
    width: calc(25px * 3);
    background-image: radial-gradient(aliceblue, cyan);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: 20px;
    opacity: .5;
    z-index: 20;
    cursor: pointer;
    animation: space 1s alternate infinite;
}

@keyframes space {
    0% {
        box-shadow: 0px 0px 50px 20px cyan;    
    }
    100% {
        box-shadow: 0px 0px 120px 60px cyan;    
    }
}


.bg {
    position: absolute;
    left: 17px;
    bottom: 20px;
    width: 100px;
    height: 100px;
    z-index: 1;
    transform: scale(0);
    transition: .8s;
    background-image: radial-gradient(aliceblue, cyan, cyan, cyan);
    border-radius: 50%;
    
}

.checkbox:checked ~ .bg {
    transform: scale(80);
}

.navigation__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 1s;
}

.checkbox:checked ~ .navigation__nav {
    visibility:  visible;
    z-index: 10;
    opacity: 1;
}

.navigation__list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    transform: translate(-46.4%, -35%);
}

.navigation__item {
    list-style: none;
    width: 75px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes float {
    0% {
        box-shadow: 0px 0px 85px 20px orange;    
    }    
    100% {
        box-shadow: 0px 0px 200px 70px orange;    
    }
}

#portfolio {
    background-image: radial-gradient(aliceblue, orange);
    border: 1px solid orange;
    transition: .5s;
    box-shadow: 0px 0px 85px 20px orange;    
}

#portfolio:after {
    content: attr(data-text);
    position: relative;
    top: 120px;
    left: -60px;
    color: orange;
    transition: .5s;
}

#portfolio:hover {
    box-shadow: 0px 0px 200px 150px orange;    
}

#portfolio:hover:after {
    color: black;
}

#social {
    background-image: radial-gradient(aliceblue, red);
    border: 1px solid red;
    box-shadow: 0px 0px 85px 20px red;    
    transition: .5s;
}

#social:after {
    content: attr(data-text);
    position: relative;
    top: 120px;
    left: -30px;
    color: red;
}

#social:hover {
    box-shadow: 0px 0px 200px 150px red;    
}

#social:hover:after {
    color: black;
}

#contact {
    background-image: radial-gradient(aliceblue, rebeccapurple);
    border: 1px solid rebeccapurple;
    box-shadow: 0px 0px 85px 20px rebeccapurple;    
    transition: .5s;
}

#contact:after {
    content: attr(data-text);
    position: relative;
    top: 120px;
    left: -50px;
    color: rebeccapurple;
}

#contact:hover {
    box-shadow: 0px 0px 200px 150px rebeccapurple;    
}

#contact:hover:after {
    color: black;
}

.navigation__link {
    color: black;
    text-decoration: none;
    height: 0;
}

.cube-container {
    width: var(--cube-width);
    height: var(--cube-height);
    perspective: var(--cube-perspective);
}

.cube {
    width: var(--cube-width);
    transform-style: preserve-3d;
    animation: spin 15s linear infinite;
}

.cube div {
    position: absolute;
    width: var(--cube-width);
    height: var(--cube-height);
    opacity: .8;
}
.front {
    transform: translateZ(var(--cube-translate));
}
.back {
    transform: rotateY(180deg) translateZ(var(--cube-translate));
}
.side-left {
    transform: rotateY(-90deg) translateX(calc(var(--cube-translate) * -1));
    transform-origin: left;
}
.side-right {
    transform: rotateY(90deg) translateX(var(--cube-translate));
    transform-origin: right;
}
.top {
    transform: rotateX(-90deg) translateY(calc(var(--cube-translate) * -1));
    transform-origin: top;
}
.bottom {
    transform: rotateX(90deg) translateY(var(--cube-translate));
    transform-origin: bottom;
}

@keyframes spin {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

img {
    width: var(--cube-width);
    height: var(--cube-height);
}
/* TESSERACT*/



.barcode {
    font-family: 'Libre Barcode 39', cursive;
    font-size: 2em;
    text-align: center;
    line-height: 45px;
    margin-top: 8%;
}
