body {
  //display:flex;
  //justify-content:center;
  //align-items:center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height:100vh;
  background:radial-gradient(circle at center, hsla(0,0%,0%,0.2), hsla(0,0%,0%,0.8));
  overflow:hidden;
}

.social-container {
    background: url("images/skills.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
  width:70vmin;
  height:70vmin;
  position:relative;
  list-style: none;
  border: 2px solid black;
}

li { 
  /*--h: calc(100% / 3);
  --w: calc(1.15470053838 * var(--h));
  --a: calc(0.28867513459 * var(--h));
  --d: calc(0.57735026919 * var(--h));
  height:var(--h);
  width:var(--w);
  position:absolute;*/
}

object {
  //display:block;
  //width:100%;
  //height:100%;
  //object-fit:cover;
  background: black;
  --aw:24.99999999999%;
  clip-path:
    polygon(var(--aw) 0,
    0 50%, var(--aw) 100%,
    calc(100% - var(--aw)) 100%,
    100% 50%,
    calc(100% - var(--aw)) 0);
}

li:nth-of-type(1) {
    left:calc(50% - var(--a) - var(--d) * 0.5);
    top:0;
}
li:nth-of-type(2) {
  left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
  top:calc(var(--h) * 0.5);
}
li:nth-of-type(3) {
  left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
  top:calc(var(--h) * 1.5);
}
li:nth-of-type(4) {
  left:calc(50% - var(--a) - var(--d) * 0.5);
  top:calc(var(--h) * 2);
}
li:nth-of-type(5) {
  left:calc(50% + var(--d) * 0.5);
  top:calc(var(--h) * 0.5);
}
li:nth-of-type(6) {
  left:calc(50% + var(--d) * 0.5);
  top:calc(var(--h) * 1.5);
}



/* 
style 
*/

ul {
  filter:drop-shadow(0 0 10px hsla(0,0%,0%,0.8));
}

li:hover {
  filter:drop-shadow(0 0 10px powderblue);
  z-index:10;
}

/*
anim


ul {
  animation:r 4s forwards;
} @keyframes r {
  from {transform:rotate(180deg)}
  to {transform:rotate(0)}
}

li {
  animation:ir 4s forwards;
} @keyframes ir {
  from {transform:rotate(-360deg)}
  to {transform:rotate(0)}
} 
*/
