:root {
    --cube-size: .5;
    --cube-width: calc(var(--cube-size) * 100px);
    --cube-height: calc(var(--cube-size) * 100px);
    --cube-perspective: calc(var(--cube-width) * 2);
    --cube-translate: calc(var(--cube-size) * 50px);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Orbitron";
    box-sizing: border-box;
}

.background {
    background: url("images/skills.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Nav Container */
.social-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.tesseract {
    position: absolute;
    top: 40px;
    right: 55px;
    width: var(--cube-width);
    height: var(--cube-height);
    perspective: var(--cube-perspective);
    z-index: 200;
}

.checkbox {
    display: none;
}

.stone {
    height: calc(12px * 4);
    width: calc(12px * 3);
    background-image: radial-gradient(aliceblue, cyan);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 6px;
    opacity: .5;
    z-index: 300;
    cursor: pointer;
    animation: space 1s alternate infinite;
}

/* Pulse effect for space stone */
@keyframes space {
    0% {
        box-shadow: 0px 0px 50px 20px cyan;    
    }
    100% {
        box-shadow: 0px 0px 120px 60px cyan;    
    }
}

.bg {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100px;
    height: 100px;
    z-index: 100;
    transform: scale(0);
    transition: .8s;
    background-image: radial-gradient(aliceblue, cyan, cyan, cyan);
    border-radius: 50%;
}

.checkbox:checked ~ .bg {
    transform: scale(80);
}

.navigation__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(-97%, 31%);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.checkbox:checked ~ .navigation__nav {
    visibility: visible;
    z-index: 200;
    opacity: 1;
}

.navigation__list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

/* INFINITY STONES */
.navigation__item {
    list-style: none;
    width: 75px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
}

#index {
    background-image: radial-gradient(aliceblue, green);
    border: 1px solid green;
    box-shadow: 0px 0px 85px 20px green;    
    transition: .5s;
}

#index:after {
    content: attr(data-text);
    position: relative;
    top: 120px;
    left: -20px;
    color: green;
}

#index:hover {
    box-shadow: 0px 0px 200px 150px green;    
}

#index:hover:after {
    color: black;
}

#portfolio {
    background-image: radial-gradient(aliceblue, darkorange);
    border: 1px solid darkorange;
    box-shadow: 0px 0px 85px 20px darkorange;    
    transition: .5s;
}

#portfolio:after {
    content: attr(data-text);
    position: relative;
    top: 120px;
    left: -60px;
    color: darkorange;
}

#portfolio:hover {
    box-shadow: 0px 0px 200px 150px darkorange;    
}

#portfolio:hover:after {
    color: black;
}

#contact {
    background-image: radial-gradient(aliceblue, rebeccapurple);
    border: 1px solid rebeccapurple;
    box-shadow: 0px 0px 85px 20px rebeccapurple;    
    transition: .5s;
}

#contact:after {
    content: attr(data-text);
    position: relative;
    top: 120px;
    left: -50px;
    color: rebeccapurple;
}

#contact:hover {
    box-shadow: 0px 0px 200px 150px rebeccapurple;    
}

#contact:hover:after {
    color: black;
}

.navigation__link {
    color: black;
    text-decoration: none;
    height: 0;
}

.cube {
    width: var(--cube-width);
    transform-style: preserve-3d;
    animation: spin 15s linear infinite;
}

.cube div {
    position: absolute;
    width: var(--cube-width);
    height: var(--cube-height);
    opacity: .8;
}

.front {
    transform: translateZ(var(--cube-translate));
}

.back {
    transform: rotateY(180deg) translateZ(var(--cube-translate));
}

.side-left {
    transform: rotateY(-90deg) translateX(calc(var(--cube-translate) * -1));
    transform-origin: left;
}

.side-right {
    transform: rotateY(90deg) translateX(var(--cube-translate));
    transform-origin: right;
}

.top {
    transform: rotateX(-90deg) translateY(calc(var(--cube-translate) * -1));
    transform-origin: top;
}

.bottom {
    transform: rotateX(90deg) translateY(var(--cube-translate));
    transform-origin: bottom;
}

@keyframes spin {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

img {
    width: var(--cube-width);
    height: var(--cube-height);
}

.hex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.top-row {
    /* transform: translateY(93px); */
    margin-top: 3%;
}

.mid-row {
    margin-top: -77px;    
}

.bot-row {
    /* transform: translateY(-93px); */
    margin-top: -77px;
}

.hex-item {
    background: rgba(0,0,0,0.7);
    height: 300px; 
    width: 250px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    display: flex;
    justify-content: center;
    align-items: center;
}

object {
    pointer-events: none;
    transition: .5s;
}

li {
    margin: 5px;
}

li:hover > object {
    transform: scale(1.3);
}
