* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', 'Shadows Into Light';    
}

.main {
   background: #306efe linear-gradient(120deg, #30cde2 0, #306efe 100%) no-repeat;
}

.cls-1 {
    fill: #ffac00;
}

.cls-1, .cls-2 {
    stroke: #ff8b00;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: url(#radial-gradient);
}

.cls-3, .cls-4 {
    fill: none;
}

.cls-3 {
    stroke: #ff3000;
}

.cls-4, .cls-5 {
    stroke: #000;
}

.cls-4 {
    stroke-linecap: round;
    stroke-width: 2px;
}

.cls-5 {
    fill: #fff;
}

#sun-rays {
    animation: spinRays 60s linear infinite;
    -moz-transform-origin: 47% 47%;
    transform-origin: 50% 50%;
}

@keyframes spinRays {
    100% {
        transform: rotate(360deg);        
    }
}

.bio-container {
    color: white;
    margin: 10%; 
}

.bio-container h1 {
    font-family: 'Shadows Into Light';
}

.bio-container p {
    margin: 7% 0;
}

.cloud-container {
    display: flex;
}

.cloud {
    height: 50px;
}

.cloud:nth-child(1) {
    transform: scale(.5) translate(-31px, 0px);
    animation: puffy 6s alternate infinite;
}

@keyframes puffy {
    100% {
        transform: scale(.6) translate(-31px, 0px);
    }
}

.cloud:nth-child(2) {
    transform: scale(.6) translate(84px, 12px);
    animation: moveCloud 8s alternate infinite;
}

@keyframes moveCloud {
    100% {
        transform: scale(.6) translate(84px, -25px);
    }
}

.cloud:nth-child(3) {
    transform: scale(0);
}

.cloud:nth-child(4) {
    transform: scale(0);
}

.cloud:nth-child(5) {
    transform: scale(0);
}

.cloud:nth-child(6) {
    transform: scale(0);
}

.cloud:nth-child(7) {
    transform: scale(0);
}

.cloud:nth-child(8) {
    transform: scale(0);
}

.cloud:nth-child(9) {
    transform: scale(0);
}

.cloud:nth-child(10) {
    transform: scale(0);
}

.cloud-puff {
    background-color: white;
    box-shadow: inset 10px -10px 0px #a1a1a1;
    border-radius: 100%;
    position: relative;
}

.cloud-puff:nth-child(1) {
    width: 100px;
    height: 100px;
    bottom: 34px;
    left: 90px;
}

.cloud-puff:nth-child(2) {
    width: 50px;
    height: 50px;
    bottom: 80px;
    left: 28px;
}

.cloud-puff:nth-child(3) {
    width: 80px;
    height: 80px;
    bottom: 163px;
    left: 53px;
}

.cloud-puff:nth-child(4) {
    width: 75px;
    height: 75px;
    bottom: 240px;
    left: 126px;
}

.cloud-puff:nth-child(5) {
    width: 60px;
    height: 60px;
    bottom: 293px;
    left: 171px;
}

/***** PROJECT SECTION *****/
.projects {
    color: white;
    text-align: center;
    background: lightblue;
}

.projects h2 {
    margin: 0;
    padding: 5%;
}

img {
    padding: 0 5%;
    max-width: 90%;
}

.description {
    padding: 2%;
}

hr {
    margin: 0 auto;
    width: 55%;
}

.cta {
    padding: 5%;
}

.cta p {
    margin: 5%;
}

.demo {
    text-decoration: none;
    background: white;
    border-radius: 60px;
    padding: 2%;
}

.x {
    border: 7px solid #1f48a6;
}

.y {
    border: 7px solid #4c56f2;
}

.z {
    border: 7px solid #4a26a6;
}

.project-1 {
    background: #306efe;
}

.project-1 .demo strong {
    color: #1f48a6;
    font-family: 'Shadows Into Light';
}

.project-2 {
    background: #343ba6;
}

.project-2 .demo strong {
    color: #343ba6;
    font-family: 'Shadows Into Light';
}

.project-3 {
    background: #2f1869;
}

.project-3 .demo strong {
    color: #2f1869;
    font-family: 'Shadows Into Light';
}

/***** CONTACT SECTION *****/
.contact {
    padding: 5%;
    background: #151843;
}

.contact-container {
    color: #151843;
    background: white;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
    padding: 5%;
}

form p {
    padding: 5%;
}

.contact-form input {
    color: #151843;
    width: 90%;
    border: none;
    border-bottom: 5px solid #151843;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 20px 15px -15px;
    outline: none;
    line-height: 1.5em;
    padding: 5px;
}

.contact-form button {
    margin: 8%;
    padding: 2%;
    border-radius: 40px;
    color: #151843;
    background: red;
    border: 5px solid #151843;
}

.moon-container {
    width: 300px;
    margin: 10px auto;
}

/***** FOOTER *****/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #b1e1fb;
    padding: 1%;
}

.svg-footer {
    min-height: 50px;
}


@media only screen and (min-width: 768px) {
    .tablet-view {
        display: flex;
    }
    .sun-container {
        width: 100%;
    }
    .bio-container {
        align-self: center;
    }
    .cloud:nth-child(3) {
        transform: scale(.8) translate(140px, 0px);
        animation: elevate 16s alternate infinite;
    }
    .cloud:nth-child(4) {
        transform: scale(.6) translate(320px, -40px);
        animation: elevate2 14s alternate infinite;
    }
    .cloud:nth-child(5) {
        transform: scale(.5) translate(440px, 0px);
        animation: elevate3 12s alternate infinite;
    }
    @keyframes elevate {
        0% {
            transform: scale(.8) translate(140px, 0px);
        }
        100% {
            transform: scale(.8) translate(140px, -30px);
        }
    }
    @keyframes elevate2 {
        0% {
            transform: scale(.6) translate(320px, -40px);
        }
        100% {
            transform: scale(.6) translate(320px, -80px);
        }
    }
    @keyframes elevate3 {
        0% {
            transform: scale(.5) translate(440px, 0px);
        }
        100% {
            transform: scale(.5) translate(440px, -100px);
        }
    }
    /*** project ***/
    .project-container {
        display: flex;
        justify-content: space-evenly;
        padding: 2% 0;
    }
    .project-1, .project-2, .project-3 {
        border-radius: 50px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .project-1 {
        border: 7px solid #1f48a6;
    }
    .project-2 {
        border: 7px solid #4c56f2;
    }
    .project-3 {
        border: 7px solid #4a26a6;
    }
    .contact {
        display: flex;
    }


}

@media only screen and (min-width: 1330px) {
    .bio-container, .project-container, form p, .contact-container input, .contact-form button {
        font-size: 1.5em;
    }
    .cloud:nth-child(6) {
        transform: scale(1.5) translate(166px, -60px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(7) {
        transform: scale(0.5) translate(405px, -20px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(8) {
        transform: scale(1.1) translate(300px, -143px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(9) {
        transform: scale(.8) translate(350px, -60px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(10) {
        transform: scale(.5) translate(675px, 0px);
        animation: desktopCloud 180s alternate infinite;
    }
    @keyframes desktopCloud {
        100% {
            transform: scale(1.5) translate(325px, -60px);
        }
    }
    .moon-container {
        display: flex;
    }
    #6d1e62ad-6be2-44b4-bed7-4f09826f0135 {
        align-items: center;
    }
}

@media only screen and (min-width: 1440px) {
    .bio-container {

    }
}






































