* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', 'Shadows Into Light';    
}

.main {
   background: #306efe linear-gradient(120deg, #30cde2 0, #306efe 100%) no-repeat;
}

.cls-1 {
    fill: #ffac00;
}

.cls-1, .cls-2 {
    stroke: #ff8b00;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: url(#radial-gradient);
}

.cls-3, .cls-4 {
    fill: none;
}

.cls-3 {
    stroke: #ff3000;
}

.cls-4, .cls-5 {
    stroke: #000;
}

.cls-4 {
    stroke-linecap: round;
    stroke-width: 2px;
}

.cls-5 {
    fill: #fff;
}

#sun-rays {
    animation: spinRays 60s linear infinite;
    -moz-transform-origin: 47% 47%;
    transform-origin: 50% 50%;
}

@keyframes spinRays {
    100% {
        transform: rotate(360deg);        
    }
}

.bio-container {
    color: white;
    margin: 10%; 
}

.bio-container h1 {
    font-family: 'Shadows Into Light';
}

.bio-container p {
    margin: 7% 0;
}

.cloud-container {
    display: flex;
}

.cloud {
    height: 50px;
}

.cloud:nth-child(1) {
    transform: scale(.5) translate(-31px, 0px);
    animation: puffy 6s alternate infinite;
}

@keyframes puffy {
    100% {
        transform: scale(.6) translate(-31px, 0px);
    }
}

.cloud:nth-child(2) {
    transform: scale(.6) translate(84px, 12px);
    animation: moveCloud 8s alternate infinite;
}

@keyframes moveCloud {
    100% {
        transform: scale(.6) translate(84px, -25px);
    }
}

.cloud:nth-child(3) {
    transform: scale(0);
}

.cloud:nth-child(4) {
    transform: scale(0);
}

.cloud:nth-child(5) {
    transform: scale(0);
}

.cloud:nth-child(6) {
    transform: scale(0);
}

.cloud:nth-child(7) {
    transform: scale(0);
}

.cloud:nth-child(8) {
    transform: scale(0);
}

.cloud:nth-child(9) {
    transform: scale(0);
}

.cloud:nth-child(10) {
    transform: scale(0);
}

.cloud-puff {
    background-color: white;
    box-shadow: inset 10px -10px 0px #a1a1a1;
    border-radius: 100%;
    position: relative;
}

.cloud-puff:nth-child(1) {
    width: 100px;
    height: 100px;
    bottom: 34px;
    left: 90px;
}
.cloud-puff:nth-child(2) {
    width: 50px;
    height: 50px;
    bottom: 80px;
    left: 28px;
}

.cloud-puff:nth-child(3) {
    width: 80px;
    height: 80px;
    bottom: 163px;
    left: 53px;
}
.cloud-puff:nth-child(4) {
    width: 75px;
    height: 75px;
    bottom: 240px;
    left: 126px;
}
.cloud-puff:nth-child(5) {
    width: 60px;
    height: 60px;
    bottom: 293px;
    left: 171px;
}

/***** PROJECT SECTION *****/

























/***** CONTACT SECTION *****/

@media only screen and (min-width: 768px) {
    .tablet-view {
        display: flex;
    }
    .sun-container {
        width: 100%;
    }
    .bio-container {
        align-self: center;
    }
    .cloud:nth-child(3) {
        transform: scale(.8) translate(140px, 0px);
        animation: elevate 16s alternate infinite;
    }
    .cloud:nth-child(4) {
        transform: scale(.6) translate(320px, -40px);
        animation: elevate2 14s alternate infinite;
    }
    .cloud:nth-child(5) {
        transform: scale(.5) translate(440px, 0px);
        animation: elevate3 12s alternate infinite;
    }
    @keyframes elevate {
        0% {
            transform: scale(.8) translate(140px, 0px);
        }
        100% {
            transform: scale(.8) translate(140px, -30px);
        }
    }
    @keyframes elevate2 {
        0% {
            transform: scale(.6) translate(320px, -40px);
        }
        100% {
            transform: scale(.6) translate(320px, -80px);
        }
    }
    @keyframes elevate3 {
        0% {
            transform: scale(.5) translate(440px, 0px);
        }
        100% {
            transform: scale(.5) translate(440px, -100px);
        }
    }
}

@media only screen and (min-width: 1330px) {
    .bio-container {
        font-size: 1.5em;
    }
    .cloud:nth-child(6) {
        transform: scale(1.5) translate(166px, -60px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(7) {
        transform: scale(0.5) translate(405px, -20px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(8) {
        transform: scale(1.1) translate(300px, -143px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(9) {
        transform: scale(.8) translate(350px, -60px);
        animation: desktopCloud 180s alternate infinite;
    }
    .cloud:nth-child(10) {
        transform: scale(.5) translate(675px, 0px);
        animation: desktopCloud 180s alternate infinite;
    }
    @keyframes desktopCloud {
        100% {
            transform: scale(1.5) translate(325px, -60px);
        }
    }
}

@media only screen and (min-width: 1440px) {
    .bio-container {

    }
}






































